sk-old
*.dat
*~
abbrev_defs
loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
session*
tramp
\#*
tmp/*
.smex-items
swank/*
ido.last
smex-items
elpa/*
etc/custom/*
bookmarks
network-security.data
etc/multiple-cursors-prefs.el
emms
transient
url
.achievements
etc/bm-repository
.cache
projectile-bookmarks.eld
tutorial
games
org-journal.cache
diary
